html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Metroplis';
  scale: 50%;
  overflow-x: none;
  scroll-behavior: smooth;
}

.sec {
  min-height: 700px;
  position: relative;
}

/* sec-01 */
.sec#sec-01 {
  overflow: hidden;
}

.sec#sec-01 .overlay {
  position: absolute;
  left: -10px;
  right: -30px;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to right, black, black, #0050a558),
    url('../imgs/sec-01-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec#sec-01 h3 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .sec#sec-01 h3 {
    left: 50%
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .sec#sec-01 h3 {
    left: 30%
  }
} */

.sec#sec-01 img {
  margin-bottom: 50px;
  width: 120px;
}

/* sec-02 */
.sec#sec-02 {
  background-color: #f5f3f3;
}

.sec#sec-02 div.straps {
  display: flex;
  position: absolute;
  top: 150px;
  left: 30%;
  min-width: 50px;
  min-height: 500px;
  transform: translate(-50%, -50%);
}

.sec#sec-02 div.strap {
  min-width: 50px;
}

.sec#sec-02 div.strap#strap-01 {
  margin-right: 20px;
  max-height: 300px;
}

.sec#sec-02 div.strap#strap-02 {
  max-height: 150px;
}

.sec#sec-02 div.bg-icons {
  position: absolute;
  inset: 0;
  background-image: url('../imgs/sec-02-bg-icons.png');
}

.sec#sec-02 div.title-month {
  margin-top: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #3c3543;
}

/* sec-03 */
.sec#sec-03 {
  overflow: hidden;
}

.sec#sec-04 {
  min-height: 2000px;
}

/* Animations */

.animate .shine {
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  animation: shine 3s linear infinite;
  position: relative;
}

.animate .reveal-n-glow {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

.animate .typing {
  width: 32ch;
  animation: typing 2s steps(31), blink 0.5s step-end infinite alternate;
  animation-delay: 2s;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

.animate .move-up-3 {
  animation: moveup 1.5s;
}

.animate .move-down-1s {
  animation: movedown 1s;
}

.animate .move-up-2 {
  animation: moveup 1s;
}

.animate .look-around {
  animation: loookaround 2s;
}

.animate .scale-up {
  animation: scaleup 2s;
}

.animate .show-after-2s {
  animation: showafter2s 2s;
}

@keyframes typing {
  from {
    opacity: 1;
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes moveup {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes movedowm {
  0% {
    top: calc(50% - 130px);
  }
  100% {
    top: calc(50% - 20px);
  }
}

@keyframes showafter2s {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loookaround {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scaleup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Font */
@font-face {
  font-family: 'Metroplis';
  src: url('../fonts/Metropolis-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Metroplis';
  src: url('../fonts/Metropolis-RegularItalic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Metroplis';
  src: url('../fonts/Metropolis-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Metroplis';
  src: url('../fonts/Metropolis-SemiBoldItalic.otf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Text Weight / styles */
.ma-text-bold {
  font-weight: bold;
}

.ma-text-italic {
  font-style: italic;
}

.ma-h2 {
  font-size: 100px !important;
}

.ma-h3 {
  font-size: 70px !important;
}

.ma-h4 {
  font-size: 60px !important;
}

.ma-h5 {
  font-size: 50px !important;
}

/* Text Colors */
.ma-text-white {
  color: #ffffff;
}
.ma-text-blue {
  color: #0068a5;
}

.ma-text-red {
  color: #bb6469;
}

.ma-bg-white {
  background-color: #ffffff;
}

.ma-bg-blue {
  background-color: #0068a5;
}

.ma-bg-red {
  background-color: #bb6469;
}
