html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Metroplis';
}

.sec {
  position: relative;
}

/* sec-01 */
.sec#sec-01 {
  min-height: 700px;
  overflow: hidden;
}

.sec#sec-01 .overlay {
  position: absolute;
  left: -10px;
  right: -30px;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to right, black, black, #0050a558),
    url('../imgs/sec-01-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec#sec-01 h3 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.sec#sec-01 img {
  margin-bottom: 50px;
  width: 120px;
}

/* sec-02 */
.sec#sec-02 {
  min-height: 300px;
  background-color: #f5f3f3;
}

.sec#sec-02 div.straps {
  display: flex;
  position: absolute;
  top: 150px;
  left: 30%;
  min-width: 50px;
  min-height: 500px;
  transform: translate(-50%, -50%);
}

.sec#sec-02 div.strap {
  min-width: 50px;
}

.sec#sec-02 div.strap#strap-01 {
  margin-right: 20px;
  max-height: 300px;
}

.sec#sec-02 div.strap#strap-02 {
  max-height: 150px;
}

/* Animations */

.shine {
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  animation: shine 3s linear infinite;
  position: relative;

}

.reveal-n-glow {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

.typing {
  width: 10ch;
  animation: typing 2s steps(11), blink 0.5s step-end infinite alternate;
  animation-delay: 1s;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

.move-up-3 {
  animation: moveup 1.5s;
}

.move-down-1s {
  animation: movedown 1s;
}

.move-up-2 {
  animation: moveup 1s;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes moveup {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes movedowm {
  0% {
    top: calc(50% - 130px);
  }
  100% {
    top: calc(50% - 20px);
  }
}
/* Font */
@font-face {
  font-family: 'Metroplis';
  src: url('../fonts/Metropolis-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Metroplis';
  src: url('../fonts/Metropolis-RegularItalic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Metroplis';
  src: url('../fonts/Metropolis-SemiBold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Metroplis';
  src: url('../fonts/Metropolis-SemiBoldItalic.otf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Text Weight / styles */
.ma-text-bold {
  font-weight: bold;
}

.ma-text-italic {
  font-style: italic;
}

.ma-h3 {
  font-size: 50px !important;
}

/* Text Colors */
.ma-text-white {
  color: #ffffff;
}
.ma-text-blue {
  color: #0068a5;
}

.ma-text-red {
  color: #bb6469;
}

.ma-bg-white {
  background-color: #ffffff;
}

.ma-bg-blue {
  background-color: #0068a5;
}

.ma-bg-red {
  background-color: #bb6469;
}
